body{
	background-color: white;
}
#fejlec{
	position: relative;
	display: block;
	top 0px;
	left: 0px;
	margin: -10px;
	background-color: blue;
	color: black;
	text-align: center;
	height: 100px;
	width: 100%;
	font-size: 90px;
	border: 10px solid red;
}
#bal_logo{
	float: left;
}
#menu{
	position: relative;
	top: 10px;
	left: 0;
	text-align: center;
	height: 40px;
	font-family: Arial
}
#menu li{
	background-color: blue;
	color: black;
	list-style-type: none;
	display: inline;
}
#menu li a:link{
	font-size: 35px;
	text-decoration: none;
	border: 20px gray;
}
#menu li a:hover{
	color: yellow ;
	background-color: #334422
}